<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>

    <appender name="HUMAN" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%level) [%thread] %cyan(%-40.40logger{39}) --- %message --- %yellow(%mdc) %n%rootException</Pattern>
      </encoder>
    </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/cube.%d{yyyy-MM-dd}.jsonlines.gz</fileNamePattern>
      <maxHistory>30</maxHistory>
      <totalSizeCap>20GB</totalSizeCap>
    </rollingPolicy>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>

    <logger name="com.yuriytkach.demo" level = "TRACE"/>

    <root level="INFO">
  <!--    <appender-ref ref="CONSOLE"/>-->
      <appender-ref ref="HUMAN"/>
    </root>

</configuration>
